https://www.mql5.com/en/docs/integration/python_metatrader5

In [4]:
#!pip3 install MetaTrader5

Requirement already satisfied: MetaTrader5 in c:\users\jonat\anaconda3\lib\site-packages (5.0.4424)
Requirement already satisfied: numpy>=1.7 in c:\users\jonat\anaconda3\lib\site-packages (from MetaTrader5) (1.26.4)

In [7]:
import MetaTrader5 as mt5
from datetime import datetime, timedelta
import pandas as pd

In [9]:
# connect to MetaTrader 5
if not mt5.initialize():
    print("initialize() failed")
    mt5.shutdown()

In [11]:
# Lista todos os símbolos
symbols = mt5.symbols_get()

In [13]:
len(symbols)

5942

In [15]:
symbols[0]

SymbolInfo(custom=False, chart_mode=1, select=False, visible=False, session_deals=0, session_buy_orders=0, session_sell_orders=0, volume=0, volumehigh=0, volumelow=0, time=0, digits=3, spread=0, spread_float=True, ticks_bookdepth=32, trade_calc_mode=33, trade_mode=4, start_time=0, expiration_time=1747260900, trade_stops_level=0, trade_freeze_level=0, trade_exemode=3, swap_mode=0, swap_rollover3days=3, margin_hedged_use_leg=False, expiration_mode=2, filling_mode=3, order_mode=127, order_gtc_mode=2, option_mode=0, option_right=0, bid=0.0, bidhigh=0.0, bidlow=0.0, ask=0.0, askhigh=0.0, asklow=0.0, last=0.0, lasthigh=0.0, lastlow=0.0, volume_real=0.0, volumehigh_real=0.0, volumelow_real=0.0, option_strike=0.0, point=0.001, trade_tick_value=2.5e-06, trade_tick_value_profit=2.5e-06, trade_tick_value_loss=2.5e-06, trade_tick_size=0.01, trade_contract_size=1.0, trade_accrued_interest=0.0, trade_face_value=0.0, trade_liquidity_rate=0.0, volume_min=1.0, volume_max=3000.0, volume_step=1.0, volume_limit=0.0, swap_long=0.0, swap_short=0.0, margin_initial=0.0, margin_maintenance=0.0, session_volume=0.0, session_turnover=0.0, session_interest=0.0, session_buy_orders_volume=0.0, session_sell_orders_volume=0.0, session_open=0.0, session_close=0.0, session_aw=0.0, session_price_settlement=0.0, session_price_limit_min=0.0, session_price_limit_max=0.0, margin_hedged=0.0, price_change=0.0, price_volatility=0.0, price_theoretical=0.0, price_greeks_delta=0.0, price_greeks_theta=0.0, price_greeks_gamma=0.0, price_greeks_vega=0.0, price_greeks_rho=0.0, price_greeks_omega=0.0, price_sensitivity=0.0, basis='', category='', currency_base='BRL', currency_profit='BRL', currency_margin='BRL', bank='', description='CUPOM DE IPCA', exchange='BVMF', formula='', isin='BRBMEFDAP330', name='DAPK25', page='', path='BMF\\DAPK25')

In [17]:
# Encontra dados de um ticker
mt5.symbol_info('PETR4')

SymbolInfo(custom=False, chart_mode=1, select=True, visible=True, session_deals=5237, session_buy_orders=0, session_sell_orders=0, volume=100, volumehigh=421700, volumelow=100, time=1730491200, digits=2, spread=28, spread_float=True, ticks_bookdepth=32, trade_calc_mode=32, trade_mode=4, start_time=0, expiration_time=253402300799, trade_stops_level=0, trade_freeze_level=0, trade_exemode=3, swap_mode=0, swap_rollover3days=3, margin_hedged_use_leg=False, expiration_mode=2, filling_mode=3, order_mode=127, order_gtc_mode=0, option_mode=0, option_right=0, bid=35.29, bidhigh=36.31, bidlow=35.29, ask=35.57, askhigh=36.35, asklow=35.31, last=35.31, lasthigh=36.37, lastlow=35.3, volume_real=100.0, volumehigh_real=421700.0, volumelow_real=100.0, option_strike=0.0, point=0.01, trade_tick_value=0.01, trade_tick_value_profit=0.01, trade_tick_value_loss=0.01, trade_tick_size=0.01, trade_contract_size=1.0, trade_accrued_interest=0.0, trade_face_value=0.0, trade_liquidity_rate=0.0, volume_min=100.0, volume_max=56020428.0, volume_step=100.0, volume_limit=0.0, swap_long=0.0, swap_short=0.0, margin_initial=0.0, margin_maintenance=0.0, session_volume=4564900.0, session_turnover=0.0, session_interest=0.0, session_buy_orders_volume=0.0, session_sell_orders_volume=0.0, session_open=36.2, session_close=35.91, session_aw=36.06, session_price_settlement=0.0, session_price_limit_min=0.0, session_price_limit_max=0.0, margin_hedged=0.0, price_change=-1.6707999999999998, price_volatility=0.0, price_theoretical=0.0, price_greeks_delta=0.0, price_greeks_theta=0.0, price_greeks_gamma=0.0, price_greeks_vega=0.0, price_greeks_rho=0.0, price_greeks_omega=0.0, price_sensitivity=0.0, basis='', category='', currency_base='BRL', currency_profit='BRL', currency_margin='BRL', bank='', description='PETROBRAS   PN      N2', exchange='BVMF', formula='', isin='BRPETRACNPR6', name='PETR4', page='', path='BOVESPA\\A VISTA\\PETR4')

## Obtendo dados de Ticks

In [20]:
# https://www.mql5.com/en/docs/integration/python_metatrader5/mt5copyticksrange_py
mt5.copy_ticks_range()

In [22]:
ticker = 'PETR4'
t0 = datetime.today() - timedelta(days=120)
t1 = datetime.today()

# request tick data
ticks = mt5.copy_ticks_range(ticker, t0, t1, mt5.COPY_TICKS_TRADE)

In [23]:
pd.DataFrame(ticks)

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,1720173823,37.21,37.42,37.45,7800,1720173823516,312,7800.0
1,1720173823,37.21,37.42,37.45,28500,1720173823516,312,28500.0
2,1720173823,37.21,37.42,37.44,16100,1720173823518,312,16100.0
3,1720173823,37.21,37.42,37.44,200,1720173823539,312,200.0
4,1720173823,37.21,37.42,37.45,1000,1720173823540,312,1000.0
...,...,...,...,...,...,...,...,...
2623998,1730486338,35.30,35.31,35.30,500,1730486338083,88,500.0
2623999,1730486353,35.30,35.31,35.30,5000,1730486353798,88,5000.0
2624000,1730486360,35.30,35.31,35.30,100,1730486360020,88,100.0
2624001,1730486369,35.30,35.31,35.30,500,1730486369320,88,500.0
2624002,1730486372,35.30,35.31,35.31,100,1730486372382,56,100.0

In [24]:
df = pd.DataFrame(ticks)
df.set_index("time", inplace=True)
df.index = pd.to_datetime(df.index, utc=True, unit='s')

In [25]:
df

,bid,ask,last,volume,time_msc,flags,volume_real
time,,,,,,,
2024-07-05 10:03:43+00:00,37.21,37.42,37.45,7800,1720173823516,312,7800.0
2024-07-05 10:03:43+00:00,37.21,37.42,37.45,28500,1720173823516,312,28500.0
2024-07-05 10:03:43+00:00,37.21,37.42,37.44,16100,1720173823518,312,16100.0
2024-07-05 10:03:43+00:00,37.21,37.42,37.44,200,1720173823539,312,200.0
2024-07-05 10:03:43+00:00,37.21,37.42,37.45,1000,1720173823540,312,1000.0
...,...,...,...,...,...,...,...
2024-11-01 18:38:58+00:00,35.30,35.31,35.30,500,1730486338083,88,500.0
2024-11-01 18:39:13+00:00,35.30,35.31,35.30,5000,1730486353798,88,5000.0
2024-11-01 18:39:20+00:00,35.30,35.31,35.30,100,1730486360020,88,100.0
2024-11-01 18:39:29+00:00,35.30,35.31,35.30,500,1730486369320,88,500.0
2024-11-01 18:39:32+00:00,35.30,35.31,35.31,100,1730486372382,56,100.0

In [30]:
def buy_or_sell(flag):
    '''
    see https://www.mql5.com/en/forum/75268
    for explanation on MetaTrader flags
    '''
    if (flag & 32) and (flag & 64):
        return 'both'
    elif flag & 32:
        return 'buy'
    elif flag & 64:
        return 'sell'

In [32]:
df["flags"] = df["flags"].apply(buy_or_sell)

In [34]:
df.tail(50000).to_csv("petr4_ticks.csv", sep=";", decimal=",")

In [36]:
len(df)

2624003